.header {
  background-color: #f0f0f0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar {
  padding: 0; 
  margin: 0; 
}

.navbar a {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #000;
}
body{
  background-color: aliceblue;
}
h2 {
  text-align: center;
}
.section {
  margin-bottom: 3rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  margin: 1rem;
  text-align: center;
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  margin-top: 0.5rem;
  padding: 0.5rem; 
  border: 1px solid #ddd; 
  border-radius: 4px; 
}

.details p {
  font-size: 0.8rem; 
  margin: 0; 
}


a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #000;
}

